---
import type { InferGetStaticParamsType, InferGetStaticPropsType } from 'astro';
import Section from '../../components/Section.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export interface Project {
  frontmatter: {
    title: string;
    tags: string[];
  };
  url: string;
}

// returns an array of page routes, and all of the pages at those routes will use the same template defined in the file
export async function getStaticPaths() {
  const allProjects: any = await Astro.glob('../projects/*.md');

  const uniqueTags = [
    ...new Set(
      allProjects.map((project: Project) => project.frontmatter.tags).flat()
    )
  ];

  return uniqueTags.map((tag: any) => {
    const filteredProjects = allProjects.filter((project: Project) =>
      project.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { projects: filteredProjects }
    };
  });
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { tag } = Astro.params as Params;
const { projects } = Astro.props as Props;
---

<BaseLayout pageTitle={`Tag: ${tag}`}>
  <Section>
    <p>Projects tagged with {tag}</p>

    {
      projects.map((project: Project) => (
        <li>
          <a href={project.url}>{project.frontmatter.title}</a>
        </li>
      ))
    }
  </Section>
</BaseLayout>
