---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectList from '../components/ProjectList.astro';
import Button from '../components/Button.astro';
import Section from '../components/Section.astro';
import Heading from '../components/Heading.astro';
import Greeting from '../components/Greeting';

const PAGE_TITLE = 'Home';
---

<BaseLayout pageTitle={PAGE_TITLE}>
  <main>
    <div class="bg-primary">
      <Section>
        <h2
          class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
        >
          Hey 👋, I'm <mark class="px-2 text-white bg-secondary rounded"
            >Luke</mark
          >
        </h2>
        <Greeting
          client:load
          messages={[
            'Lorem ipsum, dolor sit amet consectetur adipisicing elit.',
            'Cum, quam eius esse non delectus quisquam voluptas!',
            'Repellendus porro vel quasi facilis possimus aspernatur aliquid remipsum.'
          ]}
        />
        <Button variant="tertiary" class="mt-6">Do Something</Button>
      </Section>
    </div>
  </main>
  <Section>
    <Heading type="h2" size="lg">Projects.</Heading>
    <ProjectList />
  </Section>
</BaseLayout>
