---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import Button from '../components/Button.astro';
---

<Layout>
  <main>
    <div class="bg-primary">
      <div class="container section">
        <h2
          class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
        >
          Hey 👋, I'm <mark class="px-2 text-white bg-secondary rounded"
            >Luke</mark
          >
        </h2>
        <p class="text-lg font-normal text-primary-content lg:text-xl">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, quam
          eius esse non delectus quisquam voluptas! Excepturi ex dolorum odit?
          Repellendus porro vel quasi facilis possimus aspernatur aliquid rem
          ipsum.
        </p>
        <Button variant="tertiary" class="mt-6">Do Something</Button>
      </div>
    </div>
  </main>
  <Projects />
</Layout>
