---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProjectList from '../components/ProjectList.astro';
import BlogList from '../components/BlogList.astro';
---

<Layout title="Home">
  <Hero />

  <main class="container z-10 flex-1 pt-4 sm:pt-10">
    <ProjectList />
    <BlogList />
  </main>
</Layout>

<script>
  import VanillaTilt from 'vanilla-tilt';
  document.addEventListener('astro:page-load', () => {
    const tiltEls = Array.from(
      document.querySelectorAll('.card')
    ) as HTMLElement[];

    VanillaTilt.init(tiltEls, {
      reverse: true,
      max: 5,
      glare: true,
      'max-glare': 0.2,
      scale: 1.02
    });
  });
</script>
