---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProjectList from '../components/ProjectList.astro';
import BlogList from '../components/BlogList.astro';
import Heading from '../components/Heading.astro';
---

<Layout title="Home">
  <Hero />

  <main class="container z-10 flex-1 pt-4 sm:pt-10">
    <ProjectList />
    <BlogList />
  </main>
</Layout>
