---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import ProjectList from '@components/ProjectList.astro';
import BlogList from '@components/BlogList.astro';
import ThemePicker from '@components/ThemePicker.astro';
import Disco from '@components/Disco.astro';
---

<Layout>
  <Disco />
  <ThemePicker />
  <Hero />
  <main class="container z-10 flex-1">
    <ProjectList />
    <BlogList />
  </main>
</Layout>

<style>
  body:has(.disco-scene.playing) {
    .project-card,
    .blog-card {
      opacity: 0.3;
    }
  }
</style>
