---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import ProjectList from '@components/ProjectList.astro';
import BlogList from '@components/BlogList.astro';
import ThemePicker from '@components/ThemePicker.astro';

const themes: string[] = [
  'green',
  'purple',
  'blue',
  'brown',
  'red',
  'turquoise'
];
---

<Layout>
  <ThemePicker />
  <Hero />
  <main class="container z-10 flex-1">
    <ProjectList />
    <BlogList />
  </main>
</Layout>
