---
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';

const PAGE_TITLE = 'Projects';
---

<Layout pageTitle={PAGE_TITLE}>
  <section class="container section">
    <Heading type="h1" size="xl">{PAGE_TITLE}</Heading>
  </section>
</Layout>
