---
import Heading from '../components/Heading.astro';
import ProjectList from '../components/ProjectList.astro';
import Section from '../components/Section.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const PAGE_TITLE = 'Projects';
---

<BaseLayout pageTitle={PAGE_TITLE}>
  <Section>
    <Heading type="h1" size="xl">{PAGE_TITLE}</Heading>
    <ProjectList />
  </Section>
</BaseLayout>
