<button class="hidden text-base text-gray-600 mb-2 font-mono sm:block">
  <i class="fa-solid fa-arrow-left"></i> Go back
</button>

<script>
  document.addEventListener('astro:page-load', () => {
    const handleClick = () => {
      history.back();
    };

    const button = document.querySelector('button');
    button?.addEventListener('click', handleClick);
  });
</script>
