---
interface Props {
  variant?: 'primary' | 'secondary' | 'tertiary';
  class?: string;
}

const VARIANTS = {
  primary: 'btn btn-primary',
  secondary: 'btn btn-secondary',
  tertiary: 'btn btn-accent'
};

const { variant = 'primary', class: className } = Astro.props;
---

<button class=`${VARIANTS[variant]} ${className}`>
  <slot />
</button>
