---
import { siteDescription, siteTitle } from '../constants';
import Socials from './Socials.astro';
---

<header
  class="container flex flex-col sm:flex-row justify-between items-center pt-5 pb-8 sm:pb-12"
>
  <a href="/" class="order-1 sm:order-none">
    <p class="site-title text-primary text-2xl font-display relative">
      {siteTitle}
    </p>
  </a>
  <Socials />
  <p
    class="text-xs sm:text-sm lg:text-base text-black opacity-70 font-mono tracking-tight order-2 sm:order-none mt-1 sm:mt-0"
  >
    {siteDescription}
  </p>
</header>
