---
interface Props {
  id: string;
  variant?: 'purple' | 'green';
}

const { variant = 'purple', id } = Astro.props;

const colour =
  variant === 'purple' ? 'rgb(var(--secondary))' : 'rgb(var(--primary))';

const purpleClasses = 'bg-secondary ring-secondary';
const greenClasses = 'bg-primary ring-primary';

const colourClasses = variant === 'purple' ? purpleClasses : greenClasses;
---

<div
  id={`${id}-heading`}
  data-observe
  class="subheading text-center relative mb-8 sm:mb-12"
>
  <h2
    class={`${colourClasses} text-lg sm:text-xl tracking-wider font-display inline-block text-white px-5 py-1 rounded-full ring-1 ring-offset-2 min-w-32 sm:min-w-36`}
  >
    <slot />
  </h2>
</div>

<style define:vars={{ colour }}>
  .subheading::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background: var(--colour);
    top: 50%;
    left: 5%;
    transform: translateY(-50%) scaleX(0);
    opacity: 0.2;
    z-index: -1;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.2) 0.5s;
  }

  .subheading.visible::before {
    transform: translateY(-50%) scaleX(1);
  }

  @media screen(sm) {
    .subheading::before {
      width: 50%;
      left: 25%;
    }
  }
</style>
