---
import ThemeIcon from './ThemeIcon.astro';
import ThemeToggle from './ThemeToggle.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<header class="container flex justify-between py-4">
  <a href="/" aria-label="Home">
    <h1 transition:animate="slide" class="font-mono">{title}</h1>
  </a>

  <ThemeToggle />
  <ThemeIcon />
</header>
