---
import { socials } from '../constants';
---

<section
  class="container flex flex-col justify-center items-center h-[50svh] z-10 relative"
>
  <ul transition:name="socials" class="flex gap-2 mb-2">
    {
      socials.map(social => (
        <li>
          <a href={social.url} target="_blank" rel="noopener noreferrer">
            <p class="sr-only">{social.name}</p>
            <i
              class={`${social.icon} text-2xl text-[rgb(var(--accent-dark))] opacity-30 hover:opacity-60 transition-opacity w-10 h-10 flex items-center justify-center`}
            />
          </a>
        </li>
      ))
    }
  </ul>

  <h1
    transition:name="site-title"
    class="text-gradient text-4xl sm:text-6xl font-black relative"
  >
    Luke MacKenzie
  </h1>
  <p
    transition:name="site-subtitle"
    class="text-md sm:text-xl text-gray-600 mt-2 font-mono tracking-tight"
  >
    Web Developer. Toronto.
  </p>
</section>

<style>
  h1::before {
    content: '';
    display: block;
    width: 110%;
    left: -5%;
    height: 17%;
    bottom: 5%;
    background: #5ea821;
    position: absolute;
    mix-blend-mode: plus-lighter;
    animation: expandWidth 1s forwards;
  }

  @media screen(sm) {
    h1::before {
      bottom: 4%;
    }
  }
</style>
