---
import { siteDescription, siteTitle } from '../constants';
import Socials from './Socials.astro';
---

<section
  class="hero container flex flex-col justify-center items-center pb-20 pt-24 sm:py-28 lg:py-32 z-10 relative font-display"
>
  <Socials />

  <h1 class="text-primary text-[2.55rem] sm:text-6xl lg:text-7xl relative">
    {siteTitle}
  </h1>
  <p
    class="text-base sm:text-lg lg:text-xl text-black opacity-70 sm:mt-2 font-mono tracking-tight"
  >
    {siteDescription}
  </p>

  <div
    aria-hidden="true"
    class="hidden sm:flex absolute top-[40%] w-full justify-between max-w-4xl text-6xl sm:text-7xl md:text-8xl md:px-4 text-secondary"
  >
    <span
      data-observe
      class="open-tag opacity-0 font-bold transition-all -translate-x-10 duration-200 delay-100"
    >
      &nbsp;{`<`}
    </span>
    <span
      data-observe
      class="close-tag opacity-0 font-bold transition-all translate-x-10 duration-200 delay-100"
    >
      {`/>`}
    </span>
  </div>

  <style>
    body:has(.disco-scene.playing) p {
      color: rgb(var(--white));
    }

    h1::after {
      content: '';
      display: block;
      width: 106%;
      left: -3%;
      height: 12%;
      bottom: 20%;
      background-color: rgb(var(--secondary));
      position: absolute;
      mix-blend-mode: plus-lighter;
      z-index: 10;
      border-radius: 0.1em;
      transform: translateY(0);
      transition:
        background-color 1s ease-in-out,
        transform 0.3s ease-out;
    }

    h1.underline-down::after {
      transform: translateY(75%);
      transition:
        background-color 1s ease-in-out,
        transform 0.3s ease-out;
    }

    @media screen(sm) {
      h1::after {
        height: 17%;
        bottom: 6%;
      }
    }

    .open-tag.visible,
    .close-tag.visible {
      opacity: 0.2;
      transform: translate3d(0, 0, 0);
    }
  </style>
</section>

<noscript>
  <style>
    .open-tag,
    .close-tag {
      opacity: 0.2;
      transform: translate3d(0, 0, 0);
    }
  </style>
</noscript>
