---
import { siteDescription, siteTitle } from '../constants';
import Socials from './Socials.astro';
---

<section
  class="container flex flex-col justify-center items-center pt-16 sm:pt-28 lg:pt-36 pb-16 sm:pb-28 z-10 relative font-display"
>
  <Socials />

  <h1 class="text-green text-[2.55rem] sm:text-6xl lg:text-7xl relative mt-2">
    {siteTitle}
  </h1>
  <p
    class="text-base sm:text-lg lg:text-xl text-black opacity-60 sm:mt-2 font-mono tracking-tight"
  >
    {siteDescription}
  </p>

  <div
    aria-hidden="true"
    class="hidden sm:flex absolute sm:top-[50%] md:top-[45%] w-full justify-between max-w-4xl text-6xl sm:text-7xl md:text-8xl md:px-4 text-purple"
  >
    <span
      data-observe
      class="opacity-0 font-bold transition-all -translate-x-10 duration-200 delay-100"
    >
      &nbsp;{`<`}
    </span>
    <span
      data-observe
      class="opacity-0 font-bold transition-all translate-x-10 duration-200 delay-100"
    >
      {`/>`}
    </span>
  </div>

  <!-- <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 300 300"
    class="w-16 sm:w-20 opacity-30"
    ><path
      class="fill-green animate-flash"
      style="animation-delay: 0s;"
      d="M150 120.26L27.79 97.76 33.23 68.25 150 89.75 266.77 68.25 272.21 97.76 150 120.26z"
    ></path><path
      class="fill-green animate-flash"
      style="animation-delay: 0.25s;"
      d="M150 176.25L27.79 153.75 33.23 124.25 150 145.75 266.77 124.25 272.21 153.75 150 176.25z"
    ></path><path
      class="fill-green animate-flash"
      style="animation-delay: 0.5s;"
      d="M150 232.25L27.79 209.75 33.23 180.24 150 201.74 266.77 180.24 272.21 209.75 150 232.25z"
    ></path>
  </svg> -->

  <style>
    h1::after {
      content: '';
      display: block;
      width: 106%;
      left: -3%;
      height: 12%;
      bottom: 20%;
      background: rgb(var(--accent-inverse));
      position: absolute;
      mix-blend-mode: plus-lighter;
      z-index: 10;
      border-radius: 0.1em;
    }

    @media screen(sm) {
      h1::after {
        height: 17%;
        bottom: 6%;
      }
    }

    span.visible {
      opacity: 0.1;
      transform: translate3d(0, 0, 0);
    }
  </style>
</section>
