---
import { siteDescription, siteTitle } from '../constants';
import Socials from './Socials.astro';
---

<section
  class="container flex flex-col justify-center items-center pt-20 sm:pt-36 pb-24 z-10 relative"
>
  <Socials />

  <h1
    class="text-gradient text-4xl sm:text-5xl lg:text-6xl font-black relative"
  >
    {siteTitle}
  </h1>
  <p
    class="text-base sm:text-lg lg:text-xl text-gray-600 mt-2 font-mono tracking-tight"
  >
    {siteDescription}
  </p>

  <div
    aria-hidden="true"
    class="hidden sm:flex absolute top-[50%] lg:top-[45%] w-full justify-between max-w-5xl text-7xl lg:text-8xl md:px-4 text-purple"
  >
    <span
      aria-hidden="true"
      data-observe
      class="opacity-0 font-bold font-mono transition-all -translate-x-10 duration-200 delay-100"
    >
      &nbsp;{`<`}
    </span>
    <span
      aria-hidden="true"
      data-observe
      class="opacity-0 font-bold font-mono transition-all translate-x-10 duration-200 delay-100"
    >
      {`/>`}
    </span>
  </div>

  <!-- <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 300 300"
    class="w-16 sm:w-20 opacity-30"
    ><path
      class="fill-green animate-flash"
      style="animation-delay: 0s;"
      d="M150 120.26L27.79 97.76 33.23 68.25 150 89.75 266.77 68.25 272.21 97.76 150 120.26z"
    ></path><path
      class="fill-green animate-flash"
      style="animation-delay: 0.25s;"
      d="M150 176.25L27.79 153.75 33.23 124.25 150 145.75 266.77 124.25 272.21 153.75 150 176.25z"
    ></path><path
      class="fill-green animate-flash"
      style="animation-delay: 0.5s;"
      d="M150 232.25L27.79 209.75 33.23 180.24 150 201.74 266.77 180.24 272.21 209.75 150 232.25z"
    ></path>
  </svg> -->

  <style>
    h1::after {
      content: '';
      display: block;
      width: 110%;
      left: -5%;
      height: 15%;
      bottom: 7%;
      background: rgb(var(--accent-inverse));
      position: absolute;
      mix-blend-mode: plus-lighter;
      z-index: 10;
      border-radius: 0.1em;
    }

    @media screen(sm) {
      h1::after {
        bottom: 5%;
      }
    }

    span.visible {
      opacity: 0.1;
      transform: translate3d(0, 0, 0);
    }
  </style>
</section>
