---
import { socials } from '../constants';
---

<ul transition:name="socials" class="flex gap-2 sm:mb-2">
  {
    socials.map(social => (
      <li>
        <a
          href={social.url}
          target="_blank"
          rel="noopener noreferrer"
          class="group"
        >
          <p class="sr-only">{social.name}</p>
          <i
            class={`${social.icon} text-2xl text-purple opacity-30 hover:opacity-60 group-focus:opacity-60 transition-opacity w-10 h-10 flex items-center justify-center`}
          />
        </a>
      </li>
    ))
  }
</ul>
