---
import BackButton from '@components/BackButton.astro';
import Header from '@components/Header.astro';
import Layout from './Layout.astro';

const { title } = Astro.props;
---

<Layout title={title}>
  <Header />
  <main class="container flex-1 max-w-3xl mx-auto">
    <BackButton />

    <slot />
  </main>
</Layout>
