---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';

interface Props {
  pageTitle?: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead pageTitle={pageTitle} pageDescription={pageDescription} />
  </head>
  <body>
    <Header title="Luke MacKenzie." />
    <slot />
  </body>
</html>
