---
import { socials } from '../constants';
import Layout from './Layout.astro';

const { title } = Astro.props;
---

<Layout title={title}>
  <header
    class="container flex flex-col sm:flex-row justify-between items-center mb-8 py-8"
  >
    <a href="/" class="order-1 sm:order-none">
      <p
        transition:name="site-title"
        class="site-title text-gradient text-3xl font-black relative"
      >
        Luke MacKenzie
      </p>
    </a>
    <ul transition:name="socials" class="flex sm:gap-2">
      {
        socials.map(social => (
          <li>
            <a href={social.url} target="_blank" rel="noopener noreferrer">
              <p class="sr-only">{social.name}</p>
              <i
                class={`${social.icon} text-xl sm:text-2xl text-[rgb(var(--accent-dark))] opacity-30 hover:opacity-60 transition-opacity w-10 h-10 flex items-center justify-center`}
              />
            </a>
          </li>
        ))
      }
    </ul>
    <p
      transition:name="site-subtitle"
      class="text-xs sm:text-base text-gray-600 font-mono tracking-tight order-2 sm:order-none mt-1 sm:mt-0"
    >
      Web Developer. Toronto.
    </p>
  </header>
  <main class="container flex-1">
    <slot />
  </main>
</Layout>

<style>
  .site-title::before {
    content: '';
    display: block;
    width: 106%;
    left: -3%;
    height: 17%;
    bottom: 10%;
    background: #5ea821;
    position: absolute;
    mix-blend-mode: plus-lighter;
  }
</style>
